:root {
	--body: #fff;
	--black: ##000000;
	--white: #fff;
	--primary: #8b2018;
	--primaryText: #631812;
	--textWhite: #fcf1dc;
	--bg: #fcfaf7;
	--dm: "DM Sans", sans-serif;
	--manrope: "Manrope", sans-serif;
}
body {
	padding: 0;
	margin: 0;
	font-family: var(--manrope);
	background-color: white;
}
* {
	box-sizing: border-box;
}
.cacao-btn__primary {
	background: var(--primary);
	color: var(--white);
	padding: 11.5px 15px;
	display: inline-flex;
	font-size: 11px;
	color: #fcf1dc;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	min-width: 166px;
	letter-spacing: 0.1em;
	transition: all ease 0.3s;
	@include breakpoint(max-sm) {
		font-size: 12px;
		line-height: 16px;
	}
	&:hover {
		background: var(--primaryText);
	}
}
.cacao-btn__secondary {
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--primary);
	border: 1px solid var(--primary);
	text-decoration: none;
	min-width: 166px;
	display: inline-flex;
	padding: 9.5px 20px;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	&:hover {
		background: var(--primary);
		color: var(--white);
	}
}
.container-fluid {
	padding-inline: 20px !important;
	@include breakpoint(max-sm) {
		padding-inline: 10px !important;
	}
}
* {
	-webkit-tap-highlight-color: transparent;
}

.cacao-select {
	border-radius: 0;
	border: 1px solid #8b2018 !important;
	height: 35px;
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #8b2018 !important;
	.current {
		line-height: 35px;
	}
	&::after {
		border-bottom-color: #8b2018 !important;
		border-right-color: #8b2018 !important;
	}
	.list {
		top: 90%;
		border-radius: 0;
		outline: 1px solid #8b2018;
		li:not(:last-child) {
			border-bottom: 1px solid #8b2018;
		}
		min-width: 100%;
		li {
			line-height: 35px !important;
			height: 35px !important;
			min-height: 35px !important;
			&.option.selected.focus {
				background-color: #8b2018 !important;
				color: #ffff;
			}
		}
		&:hover {
			li.option.selected:not(:hover) {
				background-color: #8b2018;
				color: #ffff;
			}
		}
	}
}
