/*Hero Section*/

@import "_mixins";
@import "_variables";

.cacao-journal {
	padding-top: 70px;
	padding-bottom: 70px;
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-title {
			margin: 0;
			font-weight: 300;
			font-size: 30px;
			line-height: 35px;
			font-family: var(--dm);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #000000;
			@include breakpoint(max-sm) {
				font-weight: 300;
				font-size: 25px;
				line-height: 30px;
				letter-spacing: 0.05em;
			}
		}
		margin-bottom: 24px;
	}
	.row {
		--bs-gutter-x: 20px;
		--bs-gutter-y: 20px;
	}
	&__item {
		a {
			display: flex;
			overflow: hidden;
			img {
				width: 100%;
				aspect-ratio: 475/693;
				object-fit: cover;
			}
		}
		&-title {
			margin: 0;
			margin-top: 8px;
			font-style: normal;
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #81311c;
		}
	}
	.cacao-journal__bottom-button {
		margin-top: 36px;
		@include breakpoint(md) {
			margin-top: 48px;
			.cacao-btn__secondary {
				min-width: 188px;
			}
		}
	}
	@include breakpoint(max-md) {
		padding-top: 53px;
		padding-bottom: 77px;
	}
}
