/*Hero Section*/
:root {
  --body: #fff;
  --black: ##000000;
  --white: #fff;
  --primary: #8b2018;
  --primaryText: #631812;
  --secondary: #994616;
  --textWhite: #fcf1dc;
  --bg: #fcfaf7;
  --dm: "DM Sans", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--manrope);
  background-color: white;
}

* {
  box-sizing: border-box;
}

.cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 11.5px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 166px;
  letter-spacing: 0.1em;
  transition: all ease 0.3s;
}
@media (max-width: 575px) {
  .cacao-btn__primary {
    font-size: 12px;
    line-height: 16px;
  }
}
.cacao-btn__primary:hover {
  background: var(--primaryText);
}

.cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  min-width: 166px;
  display: inline-flex;
  padding: 9.5px 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}

.container-fluid {
  padding-inline: 20px !important;
}
@media (max-width: 575px) {
  .container-fluid {
    padding-inline: 10px !important;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.cacao-select {
  border-radius: 0;
  border: 1px solid #8b2018 !important;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b2018 !important;
}
.cacao-select .current {
  line-height: 35px;
}
.cacao-select::after {
  border-bottom-color: #8b2018 !important;
  border-right-color: #8b2018 !important;
}
.cacao-select .list {
  top: 90%;
  border-radius: 0;
  outline: 1px solid #8b2018;
  min-width: 100%;
}
.cacao-select .list li:not(:last-child) {
  border-bottom: 1px solid #8b2018;
}
.cacao-select .list li {
  line-height: 35px !important;
  height: 35px !important;
  min-height: 35px !important;
}
.cacao-select .list li.option.selected.focus {
  background-color: #8b2018 !important;
  color: white;
}
.cacao-select .list:hover li.option.selected:not(:hover) {
  background-color: #8b2018;
  color: white;
}

.cacao-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  cursor: zoom-out;
}
.cacao-overlay.active {
  visibility: visible;
  opacity: 1;
}

#cacao-overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  cursor: zoom-out;
}
#cacao-overlay-2.active {
  visibility: visible;
  opacity: 1;
}

[data-cacao-type]:not([data-cacao-animation=false]) {
  animation: cacaoFadeIn 0.5s;
  -webkit-animation: cacaoFadeIn 0.5s;
  -moz-animation: cacaoFadeIn 0.5s;
}

[data-cacao-type][data-cacao-animation=fadeIn] {
  animation: cacaoFadeIn2 0.5s;
  -webkit-animation: cacaoFadeIn2 0.5s;
  -moz-animation: cacaoFadeIn2 0.5s;
}

@keyframes cacaoFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes cacaoFadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cacao-skincare {
  --bg: #631812;
}
.cacao-skincare__content {
  height: 100%;
  padding: 43px 27px 49px;
  position: relative;
}
@media (min-width: 768px) {
  .cacao-skincare__content {
    min-height: 550px;
    padding-top: 61px;
  }
}
.cacao-skincare__content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--bg);
  z-index: -1;
}
.cacao-skincare__content-subtitle {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fcf1dc;
  margin: 0;
  margin-bottom: 30px;
}
.cacao-skincare__content-title {
  font-family: var(--dm);
  font-weight: 300;
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fcf1dc;
  margin: 0;
  margin-bottom: 35px;
}
.cacao-skincare__content-title sup {
  font-size: 60%;
}
.cacao-skincare__content-description-2, .cacao-skincare__content-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #fcf1dc;
  max-width: 555px;
  margin: 0;
  margin-bottom: 42px;
}
.cacao-skincare__content-description-2 {
  margin-bottom: 21px;
}
.cacao-skincare__content .max-w-100 {
  max-width: 100%;
}
.cacao-skincare__content .max-w-600px {
  max-width: 600px;
}
.cacao-skincare__content-breadcrumb a,
.cacao-skincare__content-breadcrumb span {
  font-weight: 400;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fcf1dc;
  text-decoration: none;
}
.cacao-skincare__content-breadcrumb a:not(:last-child)::after,
.cacao-skincare__content-breadcrumb span:not(:last-child)::after {
  content: "/";
  display: inline-block;
  margin: 0 6px;
}
.cacao-skincare__content-ingrdients {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 10px;
  margin-bottom: 50px;
}
.cacao-skincare__content-ingrdients-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #fcf1dc;
}
@media (max-width: 575px) {
  .cacao-skincare__content {
    padding: 30px 22px 38px;
  }
  .cacao-skincare__content-title {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
  }
  .cacao-skincare__content-description-2, .cacao-skincare__content-description {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.04em;
  }
}
@media (max-width: 767px) {
  .cacao-skincare__img {
    height: 496px;
  }
}/*# sourceMappingURL=cacao-skincare.css.map */