/*Hero Section*/
:root {
  --body: #fff;
  --black: ##000000;
  --white: #fff;
  --primary: #8b2018;
  --primaryText: #631812;
  --textWhite: #fcf1dc;
  --bg: #fcfaf7;
  --dm: "DM Sans", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--manrope);
  background-color: white;
}

* {
  box-sizing: border-box;
}

.cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 11.5px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 166px;
  letter-spacing: 0.1em;
  transition: all ease 0.3s;
}
@media (max-width: 575px) {
  .cacao-btn__primary {
    font-size: 12px;
    line-height: 16px;
  }
}
.cacao-btn__primary:hover {
  background: var(--primaryText);
}

.cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  min-width: 166px;
  display: inline-flex;
  padding: 9.5px 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}

.container-fluid {
  padding-inline: 20px !important;
}
@media (max-width: 575px) {
  .container-fluid {
    padding-inline: 10px !important;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.cacao-select {
  border-radius: 0;
  border: 1px solid #8b2018 !important;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b2018 !important;
}
.cacao-select .current {
  line-height: 35px;
}
.cacao-select::after {
  border-bottom-color: #8b2018 !important;
  border-right-color: #8b2018 !important;
}
.cacao-select .list {
  top: 90%;
  border-radius: 0;
  outline: 1px solid #8b2018;
  min-width: 100%;
}
.cacao-select .list li:not(:last-child) {
  border-bottom: 1px solid #8b2018;
}
.cacao-select .list li {
  line-height: 35px !important;
  height: 35px !important;
  min-height: 35px !important;
}
.cacao-select .list li.option.selected.focus {
  background-color: #8b2018 !important;
  color: white;
}
.cacao-select .list:hover li.option.selected:not(:hover) {
  background-color: #8b2018;
  color: white;
}

.cacao-review__header-title {
  font-family: var(--dm);
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
  max-width: 300px;
}
@media (max-width: 575px) {
  .cacao-review__header-title {
    max-width: 100%;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
  }
}
.cacao-review__header-review {
  display: flex;
  align-items: center;
  font-family: var(--dm);
  font-weight: 300;
  font-size: 50px;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b2018;
  margin-bottom: 20px;
  gap: 25px;
}
.cacao-review__header-description {
  color: #000000;
  margin-bottom: 20px;
  letter-spacing: 0.04em;
  max-width: 303px;
  font-size: 13px;
  line-height: 20px;
}
@media (min-width: 576px) {
  .cacao-review__header-description {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    max-width: 240px;
  }
}
@media (max-width: 991px) {
  .cacao-review__header {
    margin-bottom: 32px;
  }
}
@media (min-width: 1400px) {
  .cacao-review__cont {
    width: 80%;
  }
}
.cacao-review__cont-item {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8dec8;
}
.cacao-review__cont-item:not(:first-child) {
  padding-top: 31px;
}
.cacao-review__cont-left {
  width: 100%;
}
.cacao-review__cont-left-title {
  font-family: var(--dm);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8b2018;
  margin: 0;
  margin-bottom: 10px;
}
.cacao-review__cont-left-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #000000;
  margin: 0;
  margin-bottom: 22px;
}
.cacao-review__cont-left-list {
  margin: 0;
  padding-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #000000;
}
@media (min-width: 576px) {
  .cacao-review__cont-left {
    width: 40%;
    max-width: 255px;
  }
}
@media (max-width: 575px) {
  .cacao-review__cont-left {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .cacao-review__cont-left-list, .cacao-review__cont-left-subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
}
.cacao-review__cont-right {
  width: 0;
  flex-grow: 1;
}
.cacao-review__cont-right-title {
  font-family: var(--dm);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8b2018;
  margin: 0;
  margin-bottom: 12px;
}
.cacao-review__cont-right-review-icons {
  margin-bottom: 15px;
  color: #8b2018;
}
.cacao-review__cont-right-review-icons svg {
  width: 14px;
  height: 14px;
}
.cacao-review__cont-right-description {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #000000;
}
@media (max-width: 575px) {
  .cacao-review__cont-right-description {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
}
.cacao-review-pagination {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
.cacao-review-pagination a {
  text-decoration: none;
  font-family: var(--dm);
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #631812;
}
.cacao-review-pagination a.active {
  font-weight: 800;
}
@media (max-width: 767px) {
  .cacao-review-pagination {
    margin-top: 30px;
  }
}
.cacao-review-pagination .cacao-review-next,
.cacao-review-pagination .cacao-review-prev {
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}/*# sourceMappingURL=cacao-review.css.map */