/*Hero Section*/
:root {
  --body: #fff;
  --black: ##000000;
  --white: #fff;
  --primary: #8b2018;
  --primaryText: #631812;
  --secondary: #994616;
  --textWhite: #fcf1dc;
  --bg: #fcfaf7;
  --dm: "DM Sans", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--manrope);
  background-color: white;
}

* {
  box-sizing: border-box;
}

.cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 11.5px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 166px;
  letter-spacing: 0.1em;
  transition: all ease 0.3s;
}
@media (max-width: 575px) {
  .cacao-btn__primary {
    font-size: 12px;
    line-height: 16px;
  }
}
.cacao-btn__primary:hover {
  background: var(--primaryText);
}

.cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  min-width: 166px;
  display: inline-flex;
  padding: 9.5px 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}

.container-fluid {
  padding-inline: 20px !important;
}
@media (max-width: 575px) {
  .container-fluid {
    padding-inline: 10px !important;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.cacao-select {
  border-radius: 0;
  border: 1px solid #8b2018 !important;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b2018 !important;
}
.cacao-select .current {
  line-height: 35px;
}
.cacao-select::after {
  border-bottom-color: #8b2018 !important;
  border-right-color: #8b2018 !important;
}
.cacao-select .list {
  top: 90%;
  border-radius: 0;
  outline: 1px solid #8b2018;
  min-width: 100%;
}
.cacao-select .list li:not(:last-child) {
  border-bottom: 1px solid #8b2018;
}
.cacao-select .list li {
  line-height: 35px !important;
  height: 35px !important;
  min-height: 35px !important;
}
.cacao-select .list li.option.selected.focus {
  background-color: #8b2018 !important;
  color: white;
}
.cacao-select .list:hover li.option.selected:not(:hover) {
  background-color: #8b2018;
  color: white;
}

.cacao-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  cursor: zoom-out;
}
.cacao-overlay.active {
  visibility: visible;
  opacity: 1;
}

#cacao-overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  cursor: zoom-out;
}
#cacao-overlay-2.active {
  visibility: visible;
  opacity: 1;
}

[data-cacao-type]:not([data-cacao-animation=false]) {
  animation: cacaoFadeIn 0.5s;
  -webkit-animation: cacaoFadeIn 0.5s;
  -moz-animation: cacaoFadeIn 0.5s;
}

[data-cacao-type][data-cacao-animation=fadeIn] {
  animation: cacaoFadeIn2 0.5s;
  -webkit-animation: cacaoFadeIn2 0.5s;
  -moz-animation: cacaoFadeIn2 0.5s;
}

@keyframes cacaoFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes cacaoFadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cacao-ingredients {
  padding-top: 60px;
}
.cacao-ingredients__header {
  position: sticky;
  top: 120px;
}
.cacao-ingredients__header-title {
  font-family: var(--dm);
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  max-width: 322px;
  margin-bottom: 16px;
}
@media (max-width: 575px) {
  .cacao-ingredients__header-title {
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    max-width: 300px;
  }
}
.cacao-ingredients__header-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #000000;
  max-width: 240px;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .cacao-ingredients__header-description {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }
}
@media (max-width: 991px) {
  .cacao-ingredients__header {
    margin-bottom: 32px;
  }
}
.cacao-ingredients__row {
  --bs-gutter-x: 10px;
  --bs-gutter-y: 10px;
}
.cacao-ingredients__item {
  border: 1px solid #e8dec8;
  padding: 30px;
  height: 100%;
  width: 100%;
}
.cacao-ingredients__item:where(button) {
  background: transparent;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.cacao-ingredients__item-title {
  margin: 0;
  font-family: var(--dm);
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8b2018;
  margin-bottom: 30px;
  min-height: 58px;
}
.cacao-ingredients__item-title.voir-tout-les {
  min-height: 0;
  margin: 0;
  max-width: 255px;
  text-align: center;
}
.cacao-ingredients__item-text {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.04em;
  color: #000000;
  font-weight: 600;
  margin: 0;
  margin-bottom: 24px;
}
@media (max-width: 575px) {
  .cacao-ingredients__item-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }
}
.cacao-ingredients__item-text-right {
  text-align: right;
}
.cacao-ingredients__item-btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b2018;
}
@media (max-width: 575px) {
  .cacao-ingredients__item {
    padding: 28px 16px;
  }
  .cacao-ingredients__item-title {
    min-height: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
  }
}

.cacao-ingredients-sidebar {
  --bg: #fcfaf7;
  background: var(--bg);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 9999;
  max-width: 350px;
  transition: all ease 0.3s;
}
@media (min-width: 768px) {
  .cacao-ingredients-sidebar {
    max-width: 497px;
  }
}
.cacao-ingredients-sidebar:not(.active) {
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
}
.cacao-ingredients-sidebar-inner {
  padding: 20px;
  padding-top: 0;
}
.cacao-ingredients-sidebar__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: var(--dm);
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #631812;
}
.cacao-ingredients-sidebar__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 44px;
}
.cacao-ingredients-sidebar__btn {
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--bg);
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  padding-inline: 14px;
}
.cacao-ingredients-sidebar__btn button {
  color: var(--logo-color);
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: transparent;
  height: 30px;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
@media (min-width: 576px) {
  .cacao-ingredients-sidebar__title {
    font-family: var(--dm);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    margin-bottom: 23px;
  }
  .cacao-ingredients-sidebar__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    margin-bottom: 60px;
  }
}

.cacao-faq__item {
  border-bottom: 1px solid #631812;
}
.cacao-faq__item:first-child {
  border-top: 1px solid #631812;
}
.cacao-faq__item button {
  width: 100%;
  min-height: 44px;
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #631812;
  padding: 0;
  cursor: pointer;
}
.cacao-faq__item-icon {
  width: 10px;
  height: 10px;
  position: relative;
}
.cacao-faq__item-icon::before, .cacao-faq__item-icon::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: #631812;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cacao-faq__item-icon::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.cacao-faq__item-body {
  display: none;
}
.cacao-faq__item-body-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #000000;
  padding-bottom: 20px;
}
.cacao-faq__item.open .cacao-faq__item-icon::after {
  opacity: 0;
}/*# sourceMappingURL=cacao-ingredients.css.map */