/*Hero Section*/

@import "_mixins";
@import "_variables";

.cacao-ingredients {
	padding-top: 60px;
	&__header {
		position: sticky;
		top: 120px;
		&-title {
			font-family: var(--dm);
			font-weight: 300;
			font-size: 30px;
			line-height: 35px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #000000;
			margin: 0;
			max-width: 322px;
			margin-bottom: 16px;
			@include breakpoint(max-sm) {
				font-weight: 300;
				font-size: 25px;
				line-height: 30px;
				letter-spacing: 0.05em;
				max-width: 300px;
			}
		}
		&-description {
			font-weight: 600;
			font-size: 14px;
			line-height: 21px;
			letter-spacing: 0.04em;
			color: #000000;
			max-width: 240px;
			margin-bottom: 20px;
			@include breakpoint(max-sm) {
				font-weight: 400;
				font-size: 13px;
				line-height: 20px;
				letter-spacing: 0.04em;
			}
		}
		@include breakpoint(max-lg) {
			margin-bottom: 32px;
		}
	}
	&__row {
		--bs-gutter-x: 10px;
		--bs-gutter-y: 10px;
	}
	&__item {
		border: 1px solid #e8dec8;
		padding: 30px;
		height: 100%;
		width: 100%;
		&:where(button) {
			background: transparent;
			outline: none;
			box-shadow: none;
			cursor: pointer;
		}
		&-title {
			margin: 0;
			font-family: var(--dm);
			font-weight: 400;
			font-size: 20px;
			line-height: 25px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #8b2018;
			margin-bottom: 30px;
			min-height: 58px;
			&.voir-tout-les {
				min-height: 0;
				margin: 0;
				max-width: 255px;
				text-align: center;
			}
		}
		&-text {
			font-size: 14px;
			line-height: 21px;
			letter-spacing: 0.04em;
			color: #000000;
			font-weight: 600;
			// max-width: 300px;
			margin: 0;
			margin-bottom: 24px;
			@include breakpoint(max-sm) {
				font-weight: 400;
				font-size: 13px;
				line-height: 20px;
				letter-spacing: 0.04em;
			}
		}
		&-text-right {
			text-align: right;
		}
		&-btn {
			font-weight: 600;
			font-size: 11px;
			line-height: 15px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #8b2018;
		}
		@include breakpoint(max-sm) {
			padding: 28px 16px;
			&-title {
				min-height: 32px;
				font-weight: 400;
				font-size: 20px;
				line-height: 25px;
				letter-spacing: 0.05em;
			}
		}
	}
}
.cacao-ingredients-sidebar {
	--bg: #fcfaf7;
	background: var(--bg);
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	overflow-y: auto;
	z-index: 9999;
	max-width: 350px;
	transition: all ease 0.3s;
	@include breakpoint(md) {
		max-width: 497px;
	}
	&:not(.active) {
		transform: translateX(100%);
		visibility: hidden;
		opacity: 0;
	}
	&-inner {
		padding: 20px;
		padding-top: 0;
	}
	&__title {
		margin: 0;
		margin-bottom: 20px;
		font-family: var(--dm);
		font-weight: 400;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #631812;
	}
	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 20px;
		letter-spacing: 0.04em;
		color: #000000;
		margin-bottom: 44px;
	}
	&__btn {
		position: sticky;
		top: 0;
		width: 100%;
		background: var(--bg);
		z-index: 10;
		display: flex;
		justify-content: flex-end;
		height: 50px;
		align-items: center;
		padding-inline: 14px;
		button {
			color: var(--logo-color);
			font-weight: 400;
			font-size: 11px;
			line-height: 15px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			background: transparent;
			height: 30px;
			outline: none;
			border: none;
			box-shadow: none;
			cursor: pointer;
		}
	}
	@include breakpoint(sm) {
		&__title {
			font-family: var(--dm);
			font-weight: 400;
			font-size: 20px;
			line-height: 25px;
			letter-spacing: 0.05em;
			margin-bottom: 23px;
		}
		&__text {
			font-weight: 500;
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 0.04em;
			margin-bottom: 60px;
		}
	}
}
.cacao-faq {
	&__item {
		button {
			width: 100%;
			min-height: 44px;
			border: none;
			outline: none;
			box-shadow: none;
			background: transparent;
			text-align: left;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-weight: 600;
			font-size: 11px;
			line-height: 15px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #631812;
			padding: 0;
			cursor: pointer;
			&:not(:first-child) {
				border-top: 1px solid #631812;
			}
			&:not(:last-child) {
				border-bottom: 1px solid #631812;
			}
		}
		&-icon {
			width: 10px;
			height: 10px;
			position: relative;
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 10px;
				height: 2px;
				background: #631812;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&::after {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
		&-body {
			display: none;
			&-text {
				font-weight: 400;
				font-size: 13px;
				line-height: 20px;
				letter-spacing: 0.04em;
				color: #000000;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		&.open {
			.cacao-faq__item-icon {
				&::after {
					opacity: 0;
				}
			}
		}
	}
}
