/*Hero Section*/
:root {
  --body: #fff;
  --black: ##000000;
  --white: #fff;
  --primary: #8b2018;
  --primaryText: #631812;
  --textWhite: #fcf1dc;
  --bg: #fcfaf7;
  --dm: "DM Sans", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--manrope);
  background-color: white;
}

* {
  box-sizing: border-box;
}

.cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 11.5px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 166px;
  letter-spacing: 0.1em;
  transition: all ease 0.3s;
}
@media (max-width: 575px) {
  .cacao-btn__primary {
    font-size: 12px;
    line-height: 16px;
  }
}
.cacao-btn__primary:hover {
  background: var(--primaryText);
}

.cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  min-width: 166px;
  display: inline-flex;
  padding: 9.5px 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}

.container-fluid {
  padding-inline: 20px !important;
}
@media (max-width: 575px) {
  .container-fluid {
    padding-inline: 10px !important;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.cacao-select {
  border-radius: 0;
  border: 1px solid #8b2018 !important;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b2018 !important;
}
.cacao-select .current {
  line-height: 35px;
}
.cacao-select::after {
  border-bottom-color: #8b2018 !important;
  border-right-color: #8b2018 !important;
}
.cacao-select .list {
  top: 90%;
  border-radius: 0;
  outline: 1px solid #8b2018;
  min-width: 100%;
}
.cacao-select .list li:not(:last-child) {
  border-bottom: 1px solid #8b2018;
}
.cacao-select .list li {
  line-height: 35px !important;
  height: 35px !important;
  min-height: 35px !important;
}
.cacao-select .list li.option.selected.focus {
  background-color: #8b2018 !important;
  color: white;
}
.cacao-select .list:hover li.option.selected:not(:hover) {
  background-color: #8b2018;
  color: white;
}

.cacao-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  --menu-color: #000000;
  --bg: #fcfaf7;
  --logo-color: #8b2018;
  background: var(--bg);
  transition: all ease 0.3s;
}
.cacao-navbar__top {
  font-weight: 400;
  font-size: 9px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #fcf1dc;
  background: #994616;
  overflow: hidden;
}
.cacao-navbar__bottom {
  padding: 16px 0;
}
.cacao-navbar__bottom.header-has-bg-color {
  background: var(--bg);
}
.cacao-navbar__bottom .cacao-nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cacao-navbar__bottom .cacao-nav .cacao-menu-toggler {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: var(--logo-color);
}
.cacao-navbar__bottom .cacao-nav__logo {
  color: var(--logo-color);
}
.cacao-navbar__bottom .cacao-nav__logo svg {
  height: unset;
}
@media (max-width: 991px) {
  .cacao-navbar__bottom .cacao-nav__logo {
    margin-right: auto;
    margin-left: auto;
  }
}
.cacao-navbar__bottom .cacao-nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  row-gap: 5px;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (min-width: 1400px) {
  .cacao-navbar__bottom .cacao-nav__menu {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
.cacao-navbar__bottom .cacao-nav__menu-item {
  list-style: none;
  flex-grow: 1;
}
.cacao-navbar__bottom .cacao-nav__menu-item-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--menu-color);
  text-decoration: none;
}
@media (max-width: 1199px) and (min-width: 992px) {
  .cacao-navbar__bottom .cacao-nav__menu-item-link {
    font-size: 10px;
    line-height: 14px;
  }
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu {
  padding: 30px 20px;
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__menu {
  display: flex;
  margin-right: auto;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (min-width: 1400px) {
  .cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__menu {
    -moz-column-gap: 80px;
         column-gap: 80px;
    padding: 18px;
  }
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__menu-item-title {
  margin: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-bottom: 18px;
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__menu-item ul {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: var(--dm);
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__menu-item ul li {
  list-style: none;
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__menu-item ul li a {
  text-decoration: none;
  color: var(--menu-color);
  display: inline-block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__menu-item ul {
    font-size: 17px;
    line-height: 30px;
  }
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 18px;
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__promo-item img {
  width: 100%;
  max-height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease 0.4s;
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__promo-item a {
  display: flex;
  overflow: hidden;
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__promo-item:hover img {
  transform: scale(1.07);
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__promo-item-bottom {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.1em;
  color: var(--logo-color);
}
.cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__promo-item-bottom-title {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-align: left;
  margin: 0;
  max-width: 277px;
}
@media (min-width: 992px) {
  .cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu__promo-item {
    max-width: 31vw;
  }
}
@media (min-width: 992px) {
  .cacao-navbar__bottom .cacao-nav__menu-item .cacao-megamenu {
    position: absolute;
    top: 100%;
    background: var(--bg);
    left: 0;
    width: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.3s;
    transform: translateY(-10px);
  }
  .cacao-navbar__bottom .cacao-nav__menu-item:hover .cacao-nav__menu-item-link {
    font-weight: 700;
  }
  .cacao-navbar__bottom .cacao-nav__menu-item:hover .cacao-megamenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 991px) {
  .cacao-navbar__bottom .cacao-nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 100%;
    max-width: 350px;
    display: block;
    background: var(--bg);
    z-index: 9999;
    overflow-y: auto;
    padding-bottom: 50px;
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.5s;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-px-38px {
    padding-inline: 38px !important;
    padding-top: 23px !important;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-gap-20px {
    gap: 10px;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-megamenu {
    display: none;
    padding: 22px 0;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-megamenu__menu {
    display: block;
    padding-inline: 38px;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-megamenu__menu-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-megamenu__menu-item ul li {
    font-size: 17px;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-megamenu__promo {
    display: block;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-megamenu__promo-item {
    margin-top: 20px;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-megamenu__promo-item-bottom {
    padding-inline: 12px;
  }
  .cacao-navbar__bottom .cacao-nav__menu:not(:last-child) .cacao-megamenu {
    padding-bottom: 35px;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-nav__menu-item {
    padding: 0;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-nav__menu-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-nav__menu-item .cacao-nav__menu-item-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding: 0 38px;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-nav__menu-item .cacao-nav__menu-link--has-submenu {
    position: relative;
    display: flex;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-nav__menu-item .cacao-nav__menu-link--has-submenu:after, .cacao-navbar__bottom .cacao-nav__menu .cacao-nav__menu-item .cacao-nav__menu-link--has-submenu::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    right: 38px;
    top: 50%;
    transform: translateY(-50%);
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-nav__menu-item .cacao-nav__menu-link--has-submenu:not(.open):after {
    transform: translateY(-50%) rotate(90deg);
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-nav__menu-FERMER {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--bg);
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    padding-inline: 14px;
  }
  .cacao-navbar__bottom .cacao-nav__menu .cacao-nav__menu-FERMER button {
    color: var(--logo-color);
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background: transparent;
    height: 30px;
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
  }
  .cacao-navbar__bottom .cacao-nav__menu.active {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
.cacao-navbar__bottom .cacao-nav__right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cacao-navbar__bottom .cacao-nav__right-select {
  position: relative;
}
@media (min-width: 1400px) {
  .cacao-navbar__bottom .cacao-nav__right-select {
    margin-right: 40px;
  }
}
.cacao-navbar__bottom .cacao-nav__right-select select {
  background: transparent;
  color: var(--logo-color);
  border: none;
  height: 30px;
  min-width: 60px;
  outline: none;
  border: none;
  box-shadow: none;
  padding-right: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.cacao-navbar__bottom .cacao-nav__right-select select option {
  background: var(--logo-color);
  background: var(--bg);
}
.cacao-navbar__bottom .cacao-nav__right-select .arrow-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--logo-color);
}
.cacao-navbar__bottom .cacao-nav__right-btn {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  color: var(--logo-color);
}
@media (max-width: 1199px) {
  .cacao-navbar__bottom .cacao-nav__right {
    gap: 10px;
  }
}
.cacao-navbar.cacao-transparent-header.active {
  --menu-color: #fcf1dc;
  --logo-color: #fcf1dc;
  --bg: #631812;
}
.cacao-navbar.cacao-transparent-header.active:not(.inactive) {
  background: transparent;
}

.cacao-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  cursor: zoom-out;
}
.cacao-overlay.active {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=cacao-navbar.css.map */