/*Hero Section*/

@import "_mixins";
@import "_variables";

.cacao-nos-marques {
	padding-bottom: 66px;
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-title {
			margin: 0;
			font-weight: 300;
			font-size: 30px;
			line-height: 35px;
			font-family: var(--dm);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #000000;
			@include breakpoint(max-sm) {
				font-weight: 300;
				font-size: 25px;
				line-height: 30px;
				letter-spacing: 0.05em;
			}
		}
		&-btn {
			padding: 9px 15px;
		}
		margin-bottom: 24px;
	}
	&__arrows {
		display: flex;
		align-items: center;
		gap: 10px;
		button {
			background: transparent !important;
			border: none !important;
			outline: none !important;
			box-shadow: none !important;
			cursor: pointer;
		}
	}
	&__slider-item {
		a {
			display: flex;
			overflow: hidden;
			img {
				width: 100%;
				aspect-ratio: 475/693;
				object-fit: cover;
			}
		}
		&-title {
			margin-top: 8px;
			font-style: normal;
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #631812;
			padding-inline: 15px;
		}
	}
}
