/*Hero Section*/

@import "_mixins";
@import "_variables";

.cacao-skincare-african-beuty {
	--bg: #81311c;
	&__content {
		height: 100%;
		padding: 43px 27px 49px;
		position: relative;
		@include breakpoint(md) {
			min-height: 550px;
			padding-top: 61px;
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: var(--bg);
			z-index: -1;
		}
		&-subtitle {
			font-weight: 600;
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #fcf1dc;
			margin: 0;
			margin-bottom: 30px;
		}
		&-title {
			font-family: var(--dm);
			font-weight: 300;
			font-size: 35px;
			line-height: 40px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #fcf1dc;
			margin: 0;
			margin-bottom: 35px;
			sup {
				font-size: 60%;
			}
		}
		&-description-2,
		&-description {
			font-weight: 600;
			font-size: 14px;
			line-height: 21px;
			letter-spacing: 0.04em;
			color: #fcf1dc;
			max-width: 555px;
			margin: 0;
			margin-bottom: 42px;
		}
		&-description-2 {
			margin-bottom: 21px;
		}
		.max-w-100 {
			max-width: 100%;
		}
		&-breadcrumb {
			a,
			span {
				font-weight: 400;
				font-size: 9px;
				line-height: 12px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #fcf1dc;
				text-decoration: none;
				&:not(:last-child) {
					&::after {
						content: "/";
						display: inline-block;
						margin: 0 6px;
					}
				}
			}
		}
		&-ingrdients {
			display: flex;
			flex-wrap: wrap;
			column-gap: 25px;
			row-gap: 10px;
			margin-bottom: 50px;

			&-item {
				display: flex;
				align-items: center;
				gap: 5px;
				font-weight: 500;
				font-size: 12px;
				line-height: 21px;
				letter-spacing: 0.04em;
				color: #fcf1dc;
			}
		}
	}
	@include breakpoint(max-sm) {
		&__content {
			padding: 30px 22px 38px;
			h1 {
				font-size: 30px;
				line-height: 35px;
				letter-spacing: 0.05em;
			}
			&-description {
				font-size: 13px;
				line-height: 20px;
				font-weight: 400;
				letter-spacing: 0.04em;
			}
		}
	}
	@include breakpoint(max-md) {
		&__img {
			height: 496px;
		}
	}
}
