/*Hero Section*/
:root {
  --body: #fff;
  --black: ##000000;
  --white: #fff;
  --primary: #8b2018;
  --primaryText: #631812;
  --secondary: #994616;
  --textWhite: #fcf1dc;
  --bg: #fcfaf7;
  --dm: "DM Sans", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--manrope);
  background-color: white;
}

* {
  box-sizing: border-box;
}

.cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 11.5px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 166px;
  letter-spacing: 0.1em;
  transition: all ease 0.3s;
}
@media (max-width: 575px) {
  .cacao-btn__primary {
    font-size: 12px;
    line-height: 16px;
  }
}
.cacao-btn__primary:hover {
  background: var(--primaryText);
}

.cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  min-width: 166px;
  display: inline-flex;
  padding: 9.5px 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}

.container-fluid {
  padding-inline: 20px !important;
}
@media (max-width: 575px) {
  .container-fluid {
    padding-inline: 10px !important;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.cacao-select {
  border-radius: 0;
  border: 1px solid #8b2018 !important;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b2018 !important;
}
.cacao-select .current {
  line-height: 35px;
}
.cacao-select::after {
  border-bottom-color: #8b2018 !important;
  border-right-color: #8b2018 !important;
}
.cacao-select .list {
  top: 90%;
  border-radius: 0;
  outline: 1px solid #8b2018;
  min-width: 100%;
}
.cacao-select .list li:not(:last-child) {
  border-bottom: 1px solid #8b2018;
}
.cacao-select .list li {
  line-height: 35px !important;
  height: 35px !important;
  min-height: 35px !important;
}
.cacao-select .list li.option.selected.focus {
  background-color: #8b2018 !important;
  color: white;
}
.cacao-select .list:hover li.option.selected:not(:hover) {
  background-color: #8b2018;
  color: white;
}

.cacao-cart__overlay,
.cacao-overlay,
#cacao-overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  cursor: zoom-out;
}
.cacao-cart__overlay.active,
.cacao-overlay.active,
#cacao-overlay-2.active {
  visibility: visible;
  opacity: 1;
}

[data-cacao-type]:not([data-cacao-animation=false]) {
  animation: cacaoFadeIn 0.5s;
  -webkit-animation: cacaoFadeIn 0.5s;
  -moz-animation: cacaoFadeIn 0.5s;
}

[data-cacao-type][data-cacao-animation=fadeIn] {
  animation: cacaoFadeIn2 0.5s;
  -webkit-animation: cacaoFadeIn2 0.5s;
  -moz-animation: cacaoFadeIn2 0.5s;
}

@keyframes cacaoFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes cacaoFadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cacao-info {
  padding: 60px 0;
}
@media (max-width: 767px) {
  .cacao-info {
    padding: 55px 0;
  }
}
.cacao-info .row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 30px;
}
.cacao-info__item {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #631812;
}
.cacao-info__item img {
  max-width: 100%;
  width: unset;
  margin-bottom: 17px;
}
@media (max-width: 575px) {
  .cacao-info__item img {
    margin-bottom: 8px;
  }
}
.cacao-info__item-title {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 13px;
}
@media (max-width: 767px) {
  .cacao-info__item {
    text-align: center;
  }
}/*# sourceMappingURL=cacao-info.css.map */