/*Hero Section*/
:root {
  --body: #fff;
  --black: ##000000;
  --white: #fff;
  --primary: #8b2018;
  --primaryText: #631812;
  --textWhite: #fcf1dc;
  --bg: #fcfaf7;
  --dm: "DM Sans", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--manrope);
  background-color: white;
}

* {
  box-sizing: border-box;
}

.cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 11.5px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 166px;
  letter-spacing: 0.1em;
  transition: all ease 0.3s;
}
@media (max-width: 575px) {
  .cacao-btn__primary {
    font-size: 12px;
    line-height: 16px;
  }
}
.cacao-btn__primary:hover {
  background: var(--primaryText);
}

.cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  min-width: 166px;
  display: inline-flex;
  padding: 9.5px 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}

.container-fluid {
  padding-inline: 20px !important;
}
@media (max-width: 575px) {
  .container-fluid {
    padding-inline: 10px !important;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.cacao-select {
  border-radius: 0;
  border: 1px solid #8b2018 !important;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b2018 !important;
}
.cacao-select .current {
  line-height: 35px;
}
.cacao-select::after {
  border-bottom-color: #8b2018 !important;
  border-right-color: #8b2018 !important;
}
.cacao-select .list {
  top: 90%;
  border-radius: 0;
  outline: 1px solid #8b2018;
  min-width: 100%;
}
.cacao-select .list li:not(:last-child) {
  border-bottom: 1px solid #8b2018;
}
.cacao-select .list li {
  line-height: 35px !important;
  height: 35px !important;
  min-height: 35px !important;
}
.cacao-select .list li.option.selected.focus {
  background-color: #8b2018 !important;
  color: white;
}
.cacao-select .list:hover li.option.selected:not(:hover) {
  background-color: #8b2018;
  color: white;
}

.cacao-catalog {
  padding-top: 20px;
  padding-bottom: 30px;
}
.cacao-catalog .row {
  --bs-gutter-x: 16px;
  --bs-gutter-y: 16px;
}
.cacao-catalog__product {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cacao-catalog__product-img {
  position: relative;
  display: flex;
}
.cacao-catalog__product-img img {
  position: relative;
  width: 100%;
}
.cacao-catalog__product-img-badge {
  position: absolute;
  left: 18px;
  top: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #994616;
  z-index: 1;
}
.cacao-catalog__product-img-badge-2 {
  position: absolute;
  right: 18px;
  top: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #994616;
  z-index: 1;
}
.cacao-catalog__product-content {
  margin-top: auto;
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}
.cacao-catalog__product-content-left {
  width: 0;
  flex-grow: 1;
}
.cacao-catalog__product-content-left-name {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #631812;
  margin: 0;
  margin-bottom: 5px;
}
.cacao-catalog__product-content-left-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.cacao-catalog__product-content-price {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #631812;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cacao-catalog__product-content-price del {
  color: rgba(141, 24, 32, 0.5);
}
.cacao-catalog__product .cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 9.5px 20px;
  transition: all 0.3s;
}
.cacao-catalog__product .cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}
.cacao-catalog__product-1 {
  height: 100%;
  position: relative;
}
.cacao-catalog__product-1-img {
  display: flex;
  height: 100%;
}
.cacao-catalog__product-1-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 11px;
}
.cacao-catalog__product-1-content-title {
  font-family: var(--dm);
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--textWhite);
  margin-bottom: 16px;
}
@media (max-width: 575px) {
  .cacao-catalog__product-1-content-title {
    margin-bottom: 10px;
  }
}
.cacao-catalog__product-1-content .cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 14px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  min-width: 196px;
}
@media (max-width: 575px) {
  .cacao-catalog__product-1-content .cacao-btn__primary {
    font-size: 11px;
    height: 32px;
    min-width: 141px;
    padding: 5px 10px;
    letter-spacing: 0;
  }
}
.cacao-catalog__product-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .cacao-catalog .row {
    --bs-gutter-x: 20px;
    --bs-gutter-y: 20px;
  }
  .cacao-catalog .cacao-catalog__product-1 .cacao-catalog__product-1-content {
    padding: 21px;
    padding-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .cacao-catalog {
    padding-bottom: 46px;
    padding-top: 46px;
  }
}

.cacao-catalog-sort-by {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 14px;
}
.cacao-catalog-sort-by .cacao-select {
  min-width: 190px;
}/*# sourceMappingURL=catalog-section.css.map */