/*Hero Section*/
:root {
  --body: #fff;
  --black: ##000000;
  --white: #fff;
  --primary: #8b2018;
  --primaryText: #631812;
  --textWhite: #fcf1dc;
  --bg: #fcfaf7;
  --dm: "DM Sans", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--manrope);
  background-color: white;
}

* {
  box-sizing: border-box;
}

.cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 11.5px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 166px;
  letter-spacing: 0.1em;
  transition: all ease 0.3s;
}
@media (max-width: 575px) {
  .cacao-btn__primary {
    font-size: 12px;
    line-height: 16px;
  }
}
.cacao-btn__primary:hover {
  background: var(--primaryText);
}

.cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  min-width: 166px;
  display: inline-flex;
  padding: 9.5px 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}

.container-fluid {
  padding-inline: 20px !important;
}
@media (max-width: 575px) {
  .container-fluid {
    padding-inline: 10px !important;
  }
}

.cacao-collection {
  padding: 62px 0;
}
.cacao-collection__page-header {
  margin-bottom: 60px;
}
.cacao-collection__page-header-title {
  font-family: var(--dm);
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}
.cacao-collection__page-header__sub-title {
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: var(--primaryText);
}
.cacao-collection .row {
  --bs-gutter-x: 16px;
  --bs-gutter-y: 16px;
}
.cacao-collection__product-1 {
  height: 100%;
  position: relative;
}
.cacao-collection__product-1-img {
  display: flex;
  height: 100%;
}
.cacao-collection__product-1-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 11px;
}
.cacao-collection__product-1-content-title {
  font-family: var(--dm);
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--textWhite);
  margin-bottom: 16px;
}
@media (max-width: 575px) {
  .cacao-collection__product-1-content-title {
    margin-bottom: 10px;
  }
}
.cacao-collection__product-1-content .cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 14px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  min-width: 196px;
}
@media (max-width: 575px) {
  .cacao-collection__product-1-content .cacao-btn__primary {
    font-size: 11px;
    height: 32px;
    min-width: 141px;
    padding: 5px 10px;
    letter-spacing: 0;
  }
}
.cacao-collection__product-1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .cacao-collection {
    padding: 58px 0;
  }
  .cacao-collection .row {
    --bs-gutter-x: 20px;
    --bs-gutter-y: 20px;
  }
  .cacao-collection .cacao-collection__product-1 .cacao-collection__product-1-content {
    padding: 21px;
    padding-bottom: 24px;
  }
}
.cacao-collection__product {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cacao-collection__product-img {
  position: relative;
  display: flex;
}
.cacao-collection__product-img img {
  position: relative;
  width: 100%;
}
.cacao-collection__product-img-badge {
  position: absolute;
  left: 18px;
  top: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #994616;
  z-index: 1;
}
.cacao-collection__product-content {
  margin-top: auto;
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}
.cacao-collection__product-content-left {
  width: 0;
  flex-grow: 1;
}
.cacao-collection__product-content-left-name {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #631812;
  margin: 0;
  margin-bottom: 5px;
}
.cacao-collection__product-content-left-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.cacao-collection__product-content-price {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #631812;
  margin: 0;
}
.cacao-collection__product .cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 9.5px 20px;
  transition: all 0.3s;
}
.cacao-collection__product .cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}/*# sourceMappingURL=collection-section.css.map */