/*Hero Section*/

@import "_mixins";
@import "_variables";
.cacao-clients {
	background: #631812;
	padding: 66px 0px 74px;
	&__title {
		font-family: var(--dm);
		font-weight: 300;
		font-size: 25px;
		line-height: 30px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #fcf1dc;
		margin-bottom: 30px;
	}
}
