/*Hero Section*/
:root {
  --body: #fff;
  --black: ##000000;
  --white: #fff;
  --primary: #8b2018;
  --primaryText: #631812;
  --secondary: #994616;
  --textWhite: #fcf1dc;
  --bg: #fcfaf7;
  --dm: "DM Sans", sans-serif;
  --manrope: "Manrope", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--manrope);
  background-color: white;
}

* {
  box-sizing: border-box;
}

.cacao-btn__primary {
  background: var(--primary);
  color: var(--white);
  padding: 11.5px 15px;
  display: inline-flex;
  font-size: 11px;
  color: #fcf1dc;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  min-width: 166px;
  letter-spacing: 0.1em;
  transition: all ease 0.3s;
}
@media (max-width: 575px) {
  .cacao-btn__primary {
    font-size: 12px;
    line-height: 16px;
  }
}
.cacao-btn__primary:hover {
  background: var(--primaryText);
}

.cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  min-width: 166px;
  display: inline-flex;
  padding: 9.5px 20px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}

.container-fluid {
  padding-inline: 20px !important;
}
@media (max-width: 575px) {
  .container-fluid {
    padding-inline: 10px !important;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

.cacao-select {
  border-radius: 0;
  border: 1px solid #8b2018 !important;
  height: 35px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #8b2018 !important;
}
.cacao-select .current {
  line-height: 35px;
}
.cacao-select::after {
  border-bottom-color: #8b2018 !important;
  border-right-color: #8b2018 !important;
}
.cacao-select .list {
  top: 90%;
  border-radius: 0;
  outline: 1px solid #8b2018;
  min-width: 100%;
}
.cacao-select .list li:not(:last-child) {
  border-bottom: 1px solid #8b2018;
}
.cacao-select .list li {
  line-height: 35px !important;
  height: 35px !important;
  min-height: 35px !important;
}
.cacao-select .list li.option.selected.focus {
  background-color: #8b2018 !important;
  color: white;
}
.cacao-select .list:hover li.option.selected:not(:hover) {
  background-color: #8b2018;
  color: white;
}

.cacao-cart__overlay,
.cacao-overlay,
#cacao-overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
  cursor: zoom-out;
}
.cacao-cart__overlay.active,
.cacao-overlay.active,
#cacao-overlay-2.active {
  visibility: visible;
  opacity: 1;
}

[data-cacao-type]:not([data-cacao-animation=false]) {
  animation: cacaoFadeIn 0.5s;
  -webkit-animation: cacaoFadeIn 0.5s;
  -moz-animation: cacaoFadeIn 0.5s;
}

[data-cacao-type][data-cacao-animation=fadeIn] {
  animation: cacaoFadeIn2 0.5s;
  -webkit-animation: cacaoFadeIn2 0.5s;
  -moz-animation: cacaoFadeIn2 0.5s;
}

@keyframes cacaoFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes cacaoFadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.cacao-inspiration {
  padding-top: 65px;
  padding-bottom: 66px;
}
.cacao-inspiration .row {
  --bs-gutter-x: 16px;
  --bs-gutter-y: 16px;
}
.cacao-inspiration__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.cacao-inspiration__header-title {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  font-family: var(--dm);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}
@media (max-width: 575px) {
  .cacao-inspiration__header-title {
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    max-width: 300px;
  }
}
.cacao-inspiration__header-btn {
  padding: 9px 15px;
}
.cacao-inspiration__product {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cacao-inspiration__product-img {
  position: relative;
  display: flex;
}
.cacao-inspiration__product-img img {
  position: relative;
  width: 100%;
}
.cacao-inspiration__product-img-badge {
  position: absolute;
  left: 18px;
  top: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #994616;
  z-index: 1;
}
.cacao-inspiration__product-img-badge-2 {
  position: absolute;
  right: 18px;
  top: 18px;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #994616;
  z-index: 1;
}
.cacao-inspiration__product-content {
  margin-top: auto;
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
}
.cacao-inspiration__product-content-left {
  width: 0;
  flex-grow: 1;
}
.cacao-inspiration__product-content-left-name {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #631812;
  margin: 0;
  margin-bottom: 5px;
}
.cacao-inspiration__product-content-left-text {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.cacao-inspiration__product-content-price {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #631812;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.cacao-inspiration__product-content-price del {
  color: rgba(141, 24, 32, 0.5);
}
.cacao-inspiration__product .cacao-btn__secondary {
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary);
  border: 1px solid var(--primary);
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 9.5px 20px;
  transition: all 0.3s;
}
.cacao-inspiration__product .cacao-btn__secondary:hover {
  background: var(--primary);
  color: var(--white);
}
@media (max-width: 767px) {
  .cacao-inspiration {
    padding-bottom: 46px;
    padding-top: 46px;
  }
}/*# sourceMappingURL=inspiration-section.css.map */