/*Hero Section*/

@import "_mixins";
@import "_variables";

.cacao-inspiration {
	padding-top: 74px;
	padding-bottom: 66px;
	.row {
		--bs-gutter-x: 16px;
		--bs-gutter-y: 16px;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-title {
			margin: 0;
			font-weight: 300;
			font-size: 30px;
			line-height: 35px;
			font-family: var(--dm);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #000000;
			@include breakpoint(max-sm) {
				font-weight: 300;
				font-size: 25px;
				line-height: 30px;
				letter-spacing: 0.05em;
			}
		}
		&-btn {
			padding: 9px 15px;
		}
		margin-bottom: 24px;
	}
	&__product {
		display: flex;
		flex-direction: column;
		height: 100%;
		&-img {
			position: relative;
			display: flex;
			img {
				position: relative;
				width: 100%;
			}
			&-badge {
				position: absolute;
				left: 18px;
				top: 18px;
				font-style: normal;
				font-weight: 600;
				font-size: 11px;
				line-height: 15px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #994616;
				z-index: 1;
			}
			&-badge-2 {
				position: absolute;
				right: 18px;
				top: 18px;
				font-style: normal;
				font-weight: 600;
				font-size: 11px;
				line-height: 15px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #994616;
				z-index: 1;
			}
		}
		&-content {
			margin-top: auto;
			padding-top: 13px;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 12px;
			&-left {
				width: 0;
				flex-grow: 1;
				&-name {
					font-style: normal;
					font-weight: 600;
					font-size: 11px;
					line-height: 15px;
					letter-spacing: 0.1em;
					text-transform: uppercase;
					color: #631812;
					margin: 0;
					margin-bottom: 5px;
				}
				&-text {
					font-weight: 400;
					font-size: 13px;
					line-height: 17px;
					letter-spacing: 0.05em;
					text-transform: uppercase;
					color: #000000;
					margin: 0;
				}
			}
			&-price {
				font-style: normal;
				font-weight: 600;
				font-size: 11px;
				line-height: 15px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #631812;
				margin: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
			}
		}
		.cacao-btn__secondary {
			font-style: normal;
			font-weight: 600;
			font-size: 11px;
			line-height: 15px;
			text-align: center;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: var(--primary);
			border: 1px solid var(--primary);
			text-decoration: none;
			width: 100%;
			display: block;
			padding: 9.5px 20px;
			transition: all 0.3s;
			&:hover {
				background: var(--primary);
				color: var(--white);
			}
		}
	}
	@include breakpoint(max-md) {
		padding-bottom: 46px;
		padding-top: 46px;
	}
}
